@import url(//io.vtex.com.br/fonts/fabriga/stylesheet.css);

body,
button,
input,
optgroup,
select,
textarea,
span,
h1,
h2,
h3,
h4,
p1 {
  font-family: Fabriga, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

body {
  background-color: white;
  height: 100%;
}

.vtex-searchbar__container {
  min-width: 350px;
}

@media only screen and (max-width: 400px) {
  .vtex-searchbar__container {
    min-width: 300px;
  }
}

/*
  Media Query Extensions:
  -s  = 20em
  -ns  = 40em
  -m  = 40em
  -l  = 64em
  -xl  = 80em
*/

.vtex-page-padding {
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (min-width: 20em) {
  .vtex-page-padding {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

@media only screen and (min-width: 40em) {
  .vtex-page-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (min-width: 64em) {
  .vtex-page-padding {
    width: 90%;
  }
}

@media screen and (min-width: 80em) {
  .vtex-page-padding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}